h1 {
  font-family: 'Raleway', sans-serif;
  color: #ffff80;
  font-size: 100px;
  Line-height:0.5;
  }

h2 {
  font-family: 'Raleway', sans-serif;
  color: #ffff80;
  font-size: 50px;
  Line-height:0.5;
  }

body {
  font-family: 'Raleway', sans-serif;
  color: #ffff80;
  background-color: #bf80ff;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  Line-height:1.5;
  }

img.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  }
